header,
nav.main_menu > ul > li > a,
.mobile_menu_button span,
.side_menu_button > a,
nav.mobile_menu ul li a,
nav.mobile_menu ul li h3 {
	color: black;
}

h1 {
	text-shadow: 3px 1px #0b9444;
}

@media screen and (min-width: 1130px) {
	nav.main_menu > ul > li > a,
	.search-text,
	.footer_bottom ul li a {
		font-size: 18px;
	}
}

.header_inner_right {
	display: none;
}

.mobile_menu {
	border-top: 1px solid #8cc63e;
}

@media screen and (max-width: 768px) {
	.mobile_menu {
		text-align: center !important;
	}
}

.mobile_menu_button {
	margin: 0 20px;
}

@media screen and (min-width: 768px) {
	#menu-footer.menu {
		text-align: right;
		padding-right: 15px;
	}
}

.q_counter_holder {
	min-height: 125px;
}

.header_bottom {
	padding: 0;
}

.post_info {
	display: none !important;
}

.footer_bottom_holder {
	background-color: #262626;
}

.about-link {
	cursor: pointer;
}

.logged-in-as {
	display: none !important;
}

.comment-respond h5 {
	display: none !important;
}

.footer_bottom ul li {
	margin: 0;
	padding: 0 20px;
	height: 53px;
	line-height: 53px;
}

#chartContainer {
	text-align: center;
}
