header,
nav.main_menu>ul>li>a,
.mobile_menu_button span,
.side_menu_button>a,
nav.mobile_menu ul li a,
nav.mobile_menu ul li h3 {
    color: black;
}

h1 {
    text-shadow: 3px 1px #0b9444;
}

.content_inner {
    margin-bottom: -1px;
}

@media screen and (min-width: 1130px) {
    nav.main_menu>ul>li>a,
    .search-text,
    .footer_bottom ul li a {
        font-size: 18px;
    }
}

.header_inner_right {
    display: none;
}

.mobile_menu {
    border-top: 1px solid #8cc63e;
}

@media screen and (max-width: 768px) {
    .mobile_menu {
        text-align: center !important;
    }
}

.mobile_menu_button {
    margin: 0 20px;
}

@media screen and (min-width: 769px) {
    #menu-footer.menu {
        text-align: right;
        padding-right: 15px;
        display: flex;
        justify-content: flex-end;
    }
    .footer_bottom ul li:first-child {
        position: absolute;
        left: 0;
    }
}

.header_bottom {
    padding: 0;
}

.post_info {
    display: none !important;
}

.footer_bottom_holder {
    background-color: #262626;
}

.about-link {
    cursor: pointer;
}

.logged-in-as {
    display: none !important;
}

.comment-respond h5 {
    display: none !important;
}

.footer_bottom ul li {
    margin: 0;
    padding: 0 20px;
    height: 53px;
    line-height: 53px;
}

#chartContainer {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .footer_bottom_holder .footer_bottom ul.menu li {
        float: none !important;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
    .footer_bottom ul li {
        padding: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    .footer_bottom ul li {
        padding: 0;
    }
    .footer_bottom ul li:first-child {
        font-size: 8px;
    }
}